<%= form_for :session, url: session_path do |form| %>
  <div class="blue-text">
    <div class="text-field">
      <%= form.text_field :email, type: 'email', :placeholder=>"Email" %>
    </div>

    <div class="password-field">
      <%= form.password_field :password, :placeholder=>"Password" %>
    </div>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  </div>
<% end %>
