<%= render './home/formTopBar' %>

<div class="box-wall">
	<br><br>
	<div class="subtitle3 darkblue">Editing Participant</div>
	<br><br><br>
	<%= render 'form2' %>

	<br><br><br><br>

	<div class="other-links">
	  <%= link_to t('.Back'), participants_path  %>
	</div>
</div>