<div id="topbox">
	<div class="rubyconfhome"></div>

	 <div class = "topboxsignin3B">
      <div class= "button">
        <div class="submit-field">
          <small><%= button_to "Sign out", sign_out_path, method: :delete,:type =>type="button",:class=>'btn btn-danger' %></small>
        </div>
      </div>
    </div>

</div>