<%= render 'formTopBar' %>

<h1>Menu</h1>

<%= link_to "Participants", participants_path, :class => "btn btn-primary btn-lg"%>
<%= link_to "Tickets", tickets_path, :class => "btn btn-primary btn-lg"%>
<%= link_to "Extras", extras_path, :class => "btn btn-primary btn-lg"%>

