<%= render './home/formTopBar' %>

<h1>Editing Ticket</h1>

<%= render 'form' %>

<br><br><br><br>

<div class="backpage"><%= button_to "Back", tickets_path, method: :get, :class=>'btn btn-danger' %></div>