<%= render './home/formTopBar' %>
<div class="box-wall">
  <br><br>
  <div class="subtitle3 darkblue">
    New Extra
  </div>
  <%= render 'form' %>
  <br><br><br><br>
  <div class="other-links">
    <%= link_to t('.Back'), extras_path  %>
  </div>
</div>
